

<ngx-spinner type="la-square-jelly-box">
  <div class="la-square-jelly-box">
    <div></div>
    <div></div>
  </div> 
</ngx-spinner>|

<div>
  <div class="flexelements">
    <mat-form-field appearance="fill" (click)="citychanged()">
      <mat-label>Seleccione una ciudad de la lista</mat-label>
      <mat-select [(value)]="selected" id="dropdown">
        <mat-option *ngFor="let city of cities" [value]="city.name">
          {{city.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>



  <mat-checkbox (change)="checkCheckBoxvalue($event)">incluir historico</mat-checkbox>
  <button mat-raised-button (click)="buttonpressed()" [disabled]="!selected">Consultar</button>

  </div>
</div>





<div *ngIf="original" class="flexelements">
  <p style="font-weight: bold;">Ciudad: {{dataSource[0].name}}</p>
  <p style="font-weight: bold;">Clima: {{dataSource[0].main.temp}} °C</p>
  <p style="font-weight: bold;">Sensacion termica: {{dataSource[0].main.feels_like}} °C</p>
</div>


<!-- Comienza la definicion de la tabla  -->
<table mat-table [dataSource]="dataSource" *ngIf="show">
  <ngx-spinner type="ball-scale-multiple"></ngx-spinner>

  <ng-container matColumnDef="Pais">
    <th mat-header-cell *matHeaderCellDef>Pais</th>
    <td mat-cell *matCellDef="let element"> {{element.sys.country}} </td>
  </ng-container>

  <ng-container matColumnDef="ciudad">
    <th mat-header-cell *matHeaderCellDef>Ciudad</th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="clima">
    <th mat-header-cell *matHeaderCellDef>Temperatura</th>
    <td mat-cell *matCellDef="let element"> {{element.main.temp}} °C</td>
  </ng-container>

  <ng-container matColumnDef="sensacion termica">
    <th mat-header-cell *matHeaderCellDef>Sensacion termica</th>
    <td mat-cell *matCellDef="let element"> {{element.main.feels_like}} °C</td>
  </ng-container>

  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef> Fecha </th>
    <td mat-cell *matCellDef="let dataSource"> {{dataSource.date | date:'medium'}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColummnss"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColummnss;"></tr>



</table>













